{
  "semi": false,
  "printWidth": 90,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "objectWrap": "preserve",
  "proseWrap": "preserve",
  "singleQuote": true
}
