.se-tooltip {
  --se-popovse-bg-color: var(--se-bg-color-overlay);
  --se-popovse-font-size: var(--se-font-size-base);
  --se-popovse-border-color: var(--se-border-color-lighter);
  --se-popovse-padding: 12px;
  --se-popovse-border-radius: 4px;
  display: inline-block;
}
.se-tooltip {
  .fade-entse-active,
  .fade-leave-active {
    transition: opacity var(--se-transition-duration);
  }

  .fade-entse-from,
  .fade-leave-to {
    opacity: 0;
  }

  .se-tooltip__popper {
    background: var(--se-popovse-bg-color);
    border-radius: var(--se-popovse-border-radius);
    border: 1px solid var(--se-popovse-border-color);
    padding: var(--se-popovse-padding);
    color: var(--se-text-color-regular);
    line-height: 1.4;
    text-align: justify;
    font-size: var(--se-popovse-font-size);
    box-shadow: var(--se-box-shadow-light);
    word-break: break-all;
    box-sizing: border-box;
    z-index: 1000;
    #arrow,
    #arrow::before {
      position: absolute;
      width: 8px;
      height: 8px;
      box-sizing: border-box;
      background: var(--se-popovse-bg-color);
    }
    #arrow {
      visibility: hidden;
    }
    #arrow::before {
      visibility: visible;
      content: '';
      transform: rotate(45deg);
    }
    &[data-poppse-placement^='top'] > #arrow {
      bottom: -5px;
    }

    &[data-poppse-placement^='bottom'] > #arrow {
      top: -5px;
    }

    &[data-poppse-placement^='left'] > #arrow {
      right: -5px;
    }

    &[data-poppse-placement^='right'] > #arrow {
      left: -5px;
    }
    &[data-poppse-placement^='top'] > #arrow::before {
      border-right: 1px solid var(--se-popovse-border-color);
      border-bottom: 1px solid var(--se-popovse-border-color);
    }
    &[data-poppse-placement^='bottom'] > #arrow::before {
      border-left: 1px solid var(--se-popovse-border-color);
      border-top: 1px solid var(--se-popovse-border-color);
    }
    &[data-poppse-placement^='left'] > #arrow::before {
      border-right: 1px solid var(--se-popovse-border-color);
      border-top: 1px solid var(--se-popovse-border-color);
    }
    &[data-poppse-placement^='right'] > #arrow::before {
      border-left: 1px solid var(--se-popovse-border-color);
      border-bottom: 1px solid var(--se-popovse-border-color);
    }
  }
}
